.c-alive {
    height: 200px;
    width: 150px;
    box-shadow: 3px 3px 6px rgba( 0, 0, 0, 0.6 );
    margin-right: 20px;
    margin-bottom: 10px;
    background: #fff;
}
.c-dead {
    height: 200px;
    width: 150px;
    box-shadow: 3px 3px 6px rgba( 0, 0, 0, 0.6 );
    margin-right: 20px;
    margin-bottom: 10px;
}
.c-dead img {
    position: absolute;
    background: #000 !important;
    z-index: 2;
}

.c-name {
    width: 150px;
    height: 22px;
    background: #ff0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 3px -1px rgba( 0, 0, 0, 0.6 );
    text-shadow: 2px 2px 3px #0009;
    position: relative;
    z-index: 3;
}

.c-picture {
    height: 157px;
    width: 150px;
    position: relative;
}
.c-picture > img {
    height: 100%;
    width: 100%;
}

.c-damage {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color: red;
    z-index: 3;
}

.c-strength {
    width: 30px;
    height: 32px;
    background: #ca0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1px;
    left: 1px;
    border: 1px solid black;
}

.c-bonus {
    width: 30px;
    height: 32px;
    background: #07ca00;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1px;
    left: 34px;
    border: 1px solid black;
}

.c-health {
    width: 30px;
    height: 32px;
    background: #10108b;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1px;
    right: 1px;
    border: 1px solid black;
}
.c-healthy {
    color: #fff;
}
.c-hurt {
    color: #ff4220;
    font-weight: 600;
}
.c-extra {
    color: #51ff00;
}

.c-buttons {
    display: flex;
    width: 150px;
}
.c-button1 {
    flex: 1;
    background: #ffa500;
}
.c-button2 {
    flex: 1;
    background: #adff2f;
}

.c-not-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 21px;
}

.c-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
}

.c-label {
    margin-bottom: 6px;
}

.c-info {
    width: 110%;
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
}