.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-container {
    width: 90%;
    padding: 20px;
    background: rgba( 0, 0, 0, 0.6 );
    border-radius: 3px;
    color: #ddd;
}

.h-to-glossary {
    position: absolute;
    right: 50px;
    margin-top: -35px;
}

@media (max-width: 800px) {
    .help {
        padding: 100px 0 60px 0;
    }
}